.fretboard__bass {
	background: $bass;
	border-bottom: 7px solid $bass-shadow;
	border-top: 7px solid $bass-shadow;
	margin-top: -132px;
	height: calc(#{$bass-fret-height} * #{$number-of-strings-on-bass});
	width: calc(#{$bass-fret-width} * #{$number-of-frets-on-bass});

	.strings {
		@include shadow(0 3px 2px 0 $bass-shadow);
		border-bottom: 2px solid $string;
		height: $bass-fret-height;
		width: calc(#{$bass-fret-width} * #{$number-of-frets-on-bass});

		&:nth-child(10),
		&:nth-child(15) {
			height: calc(#{$bass-fret-height} / 2);
		}

		&:nth-child(15) {
			border-bottom: 0;
		}
	}

	.note {
		height: $bass-fret-height;
		width: $bass-fret-width;

		&::before,
		&::after {
			width: calc(#{$bass-fret-width} / 18);
		}
	}

	/* JUST FOR BASS */
	.strings:nth-child(10) .note,
	.strings:nth-child(15) .note {
		height: calc(#{$bass-fret-height} * .5);
	}

	.strings:nth-child(15) .note::before,
	.strings:nth-child(15) .note::after {
		bottom: 0;
	}

	.inlays {
		background: $bass-inlay;

		&:nth-child(1) {
			left: calc(#{$bass-fret-width} * 2.5);
		}

		&:nth-child(2) {
			left: calc(#{$bass-fret-width} * 4.5);
		}

		&:nth-child(3) {
			left: calc(#{$bass-fret-width} * 6.5);
		}

		&:nth-child(4) {
			left: calc(#{$bass-fret-width} * 8.5);
		}

		&:nth-child(5) {
			top: calc(#{$bass-fret-height} * 1);
			left: calc(#{$bass-fret-width} * 11.5);
		}

		&:nth-child(6) {
			top: calc(#{$bass-fret-height} * 4);
			left: calc(#{$bass-fret-width} * 11.5);
		}

		&:nth-child(7) {
			left: calc(#{$bass-fret-width} * 14.5);
		}

		&:nth-child(8) {
			left: calc(#{$bass-fret-width} * 16.5);
		}

		&:nth-child(9) {
			left: calc(#{$bass-fret-width} * 18.5);
		}

		&:nth-child(10) {
			left: calc(#{$bass-fret-width} * 20.5);
		}
	}

	&--four {
		height: calc(#{$bass-fret-height} * #{$number-of-strings-on-bass-four});

		.inlays {

			&:nth-child(6) {
				top: calc(#{$bass-fret-height} * 3);
			}
		}

		.strings {

			&:nth-child(14) {
				height: calc(#{$bass-fret-height} * .5);
				border-bottom: 0;
			}
		}

		.strings:nth-child(14) .note {
			height: calc(#{$bass-fret-height} * .5);
		}

		.strings:nth-child(14) .note::before,
		.strings:nth-child(14) .note::after {
			bottom: 0;
		}
	}
}
