
.selection {
  @include transition(all $animation-time);
  background: $background;
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;

  &.selected {
    bottom: 0;
 //   height: 15%;
    top: auto;
    border: 1px dotted $test;

    .container {
      top: 23%;
    }
  }

  .container {
    @include border-radius(6px);
    @include shadow(0 2px 5px 0 $shadow);
    background: $white;
    border: 1px solid $test;
    left: 0;
    margin-top: -22px;
    position: absolute;
    right: 0;
    top: calc(50% - 1px);
  }
}
//
.box {
  display: inline-block;
  width: auto;

  &.disabled {
    display: none;
  }

  p {
    color: $text-normal;
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    padding: 0 5px;
    width: auto;
  }

  span {
    @include transition(color 200ms);
    color: $text-highlight;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 45px;
    line-height: 49px;
    margin: 43px 0 0;
    padding: 0 5px;

    &:hover {
      color: $test;
    }
  }
}
//
//
//
//
//
//
//
//
.list {
  @include transition(transform $animation-time);
  bottom: 20px;
  display: none;
  left: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;


  &.active {
    display: flex;
    flex-direction: column;
  }

  &.playinginstrument {

    li:last-child {
      margin-bottom: 0;
    }
  }

  li {
    @include transition(all $animation-time);
    @include shadow(0 2px 5px 0 $shadow);
    background: $white;
    border-bottom: 3px solid $background;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    line-height: 150px;
    list-style-type: none;
    min-height: 150px;
    text-align: center;

    &:hover {
      color: $test;
    }

    &:first-child {
      @include border-radius(6px 6px 0 0);
    }

    &:last-child {
      @include border-radius(0 0 6px 6px);
      margin-bottom: 20px;
    }
  }
}
