
.selection {
  height: 10%;
  margin-left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 3;
}
//
.box {
  display: inline-block;
  width: auto;

  &.disabled {
    display: none;
  }

  p {
    display: inline-block;
    padding: 0 5px;
    width: auto;
  }

  span {
    border-bottom: 2px solid $note;
    cursor: pointer;
    display: block;
    float: right;
    padding: 0 5px;
  }
}
//
.list {
  @include transition(transform $animation-time, opacity $animation-time);
  border: 1px solid $black;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0, -50px, 0);
  z-index: 5;

  &.active {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  li {
    @include transition(min-height $animation-time, line-height $animation-time);
    background: $white;
    border-bottom: 1px solid $fret-darker;
    line-height: 150px;
    list-style-type: none;
    min-height: 150px;
    text-align: center;

    &:hover {
      line-height: 200px;
      min-height: 200px;
    }
  }
}
