

.selection {
  //@include shadow(0 -2px 4px 0 $color-shadow);
  //background: $background-select;
  height: 10%;
  margin-left: 0;
  text-align: center;
  width: 100%;


  .container {
    // border: 1px solid $test;
    @include shadow(0 2px 4px 0 $shadow);
    @include border-radius(3px);

    background: $white;
    height: 80px;
    margin: 20px auto 0;
    padding: 16px 0 0;
    width: 960px;
    z-index: 2;
  }
}
//
.box {
  display: inline-block;
  width: auto;
}
//
.text {
  display: inline-block;
  padding: 0 5px;
  width: auto;
}
//
.select {
 // @include shadow(0 1px 2px 0 $color-shadow);
 // @include border-radius(3px);
 // @include transition(shadow $animation-time);
 // background: $white;
 // border: 1px solid $color-select-border;

  @include transition(border-bottom $animation-time);
  border-bottom: 2px solid $select-border;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 100;

  &:hover {
    @include transition(border-bottom $animation-time);
    border-bottom: 2px solid $white;

  }

  &.notes {
    width: 120px;
  }

  &.scales {
    width: 200px;
  }

  &.playinginstrument {
    width: 170px;
  }

  &:focus {
    outline: none;
  }

  select {
    display: none;
  }

  span {
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 1em;
    padding-right: 3em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      @include transform(translateY(-50%));
      position: absolute;
      top: 50%;
    }
  }

  .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
  }

  .cs-active {
    z-index: 200;

    span::after {
      @include transform(translateY(-50%) rotate(180deg));
    }
  }

  .cs-focus {
    span {
      background-color: $select-background;
    }
  }

  .cs-placeholder {

    &::after {
      content: '\25BE';
      right: 1em;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    span {
      padding: 1em;
    }
  }
}
//
.cs-optgroup ul {
  padding-left: 1em;

  span {
    cursor: default;
  }
}
// Options
.cs-options {
  @include shadow(0 2px 3px 0 $select-gray-darker);
  @include border-radius(3px);
  background: $white;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;

  li {
    border-top: 2px solid $select-border;

    &:first-child {
      border: 0;
    }

    &:hover {
      background: $select-gray-darker;
      color: $select-background;
    }
  }
}
//
.cs-active .cs-options {
  visibility: visible;
}
//
.disabled {
  @include transition(opacity $animation-time);
  display: none;
  opacity: 0;
}
