$animation-time: .75s;
$animation-time-faster: .25s;
$test: #ff6347;
$min-height-window: 640px;
$min-width-window: 920px;

$background-instrument: #48a8df;
$background: #eee;

$background-select: #e0e2ee;

$white: #fff;
$text-normal: #3a3a3a;
$text-highlight: #8a8a8a;

// STRINGS
$fret-width: 85px;
$string: #eee;
$fret: #9e9e9e;
$fret-darker: #808080;

// NOTES
$note: #424242;
$tonic-note: #fbc02d;
$highlighted-note: #ffee58;

$shadow: rgba(66, 66, 66, .3);

// GUITAR
$guitar: #cd622a;
$guitar-shadow:  #6d4232;
$guitar-inlay: #292929;
$number-of-strings-on-guitar: 6;
$number-of-frets-on-guitar: 22;
$guitar-fret-height: 56px;


// BASS
$bass: #523e39;
$bass-shadow: #362b28;
$bass-inlay: #fcf4f4;
$number-of-strings-on-bass: 5;
$number-of-frets-on-bass: 20;
$bass-fret-height: 50px;
$bass-shadow: rgba(66, 66, 66, .65);


$select-background: #eee;
$select-border: #bebebe;
$select-gray-darker: #616161;

$note-size: 48px;
